In [4]:
from fastai import *
from fastai.text import *

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [10]:
df = pd.read_csv('CSV/Got_01.csv')

In [11]:
df.head()

,Character,dialogue,season,chapter,to,ProD
0,Waymar Royce,What d'you expect? They're savages. One lot s...,1,1,Will,"Waymar Royce,Will, What d'you expect? They're ..."
1,Will,I've never seen wildlings do a thing like thi...,1,1,Waymar Royce,"Will,Waymar Royce, I've never seen wildlings d..."
2,Waymar Royce,How close did you get?,1,1,Will,"Waymar Royce,Will, How close did you get?"
3,Will,Close as any man would.,1,1,Gared,"Will,Gared, Close as any man would."
4,Gared,We should head back to the wall.,1,1,Waymar Royce,"Gared,Waymar Royce, We should head back to the..."

In [52]:
df['dialogue'] = df['dialogue'].str.lower()

In [53]:
valid_pct = 0.20 #validation percent
df = df.iloc[np.random.permutation(len(df))]
cut = int(valid_pct * len(df)) + 1
train_df, valid_df = df[cut:], df[:cut]

In [54]:
len(train_df), len(valid_df)

(11979, 2996)

In [55]:
nan_rows = df[df['dialogue'].isnull()]

In [58]:
nan_rows

Empty DataFrame
Columns: [Character, dialogue, season, chapter, to, ProD]
Index: []

In [62]:
data_lm = TextLMDataBunch.from_df('data', train_df, valid_df, text_cols='dialogue',label_cols='Character')

In [63]:
#data_clas = TextClasDataBunch.from_df('data', train_df, valid_df, text_cols='text', label_cols='author', vocab=data_lm.train_ds.vocab, bs=32)

In [64]:
learn = language_model_learner(data_lm, drop_mult=0.5,arch=AWD_LSTM) #pretrained_model=URLs.WT103,
learn.fit_one_cycle(10, 1e-2)

In [65]:
learn.unfreeze()
learn.fit_one_cycle(1, 1e-3)

In [66]:
wd=1e-7
lr=1e-3
lrs = lr

In [47]:
learn.fit(30,lrs, wd)

In [67]:
dialogues = []

for i in range(20):
    dialogue = learn.predict("xxbos", n_words=30, temperature=.9).replace("xxbos","").strip()
    dialogues.append(dialogue)

In [68]:
dialogues

["oh , i 'll be a good lad . who is ever what you 'm doing ?  a man you know you have .  but i 'm not",
 "you 're trying to understand that .  you 're not in the mood .  no .  i 'm a bastard .  you suppose this is n't",
 "permission will be getting the horses flying over the riverlands .  i 'm young . what will i worry about you ?  do not hate him for a",
 "your father did n't dignity at the small council when they saw someone know what he 's doing to his fool ?  so if i do n't take the",
 "a  ?  we do n't know to rule the north .  you and i made the choice .  you are lancel lannister . but i 'm",
 "my sweet lady , she 's not a whore .  cut her down .  together you ca n't stop them .  and i will not believe that",
 "my lord thought you would feed the dead .  why should you hide her ?  mine 's not your grace .  they did n't gather the remaining",
 "i had them cried . you really would . we were flying over the black . it was next . why could they take it ?  i 'll take",
 "how do you say that ?  what the king knows , he 's commanded that . go on .  his name is not a lord of braavos ,",
 "how is it obvious ?  no , but dorne has always taken the black .  i 'll be my own .  no , he 's beautiful .",
 'my mother was a scared boy . your murder .  questions ...  i am . i am the first person in westeros , and ser bronn of the',
 "cat !  sansa stark , he 's my brother .  the euron h .  i will . i do n't know you want to . but i",
 "not a war .  how do you get your sword ?  your grace .  come on , riverrun !  lt was n't a boy but a",
 "a man who lives living and die .  we 've got a lot of money to buy . you 'll pay you .  no .  we 're",
 "and how did i say to me ?  i 've never asked about this .  you do .  robb .  i do n't deserve your honor",
 "no , are you gon na there a families ?  i 'm sorry .  well ,  fought the wildlings . i ca n't destroy them . the",
 'take it and execute me .  ladies ?  how will we hold this world ?  did you ever take restraint ?  the high sparrow has never',
 "your uncle ? i 'll take him to hell with him .  my lady , she was the first of those . she was my daughter .  there",
 'and where will they go ?  i think the hell we need to be here is our city .  wanted them to remedy that ?  and what',
 "you think she 's a dead man ?  tywin ... i 'd do something the wrong way , the great ruler of his land and the last king ,"]